.bg-login{
    background-color: rgb(188, 188, 188);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card{
    background-color: rgb(236, 236, 236);
    color: #333;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: auto;
}
.fa-envelope, .fa-unlock{
    font-size: 20px;
}
.input-container{
    margin-bottom: 30px;
}
.btn-login-theme{
    background-color: rgb(80, 80, 80) !important;
    border: none !important;
    color: white !important;
    font-weight: bold !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all 0.3s ease-in-out !important;
    /* font-size: 20px; */
}
.btn-login-theme:hover{
    background-color: rgb(131, 131, 131) !important;
    /* color: rgb(192, 90, 0) !important; */
}
